In [21]:
names=["Tom치s", "Pauline", "Pablo", "Bjork","Alan","Juana"]
woman=[False,True,False,False,False,True]
ages=[32,33,28,30,32,27]
country=["Chile", "Senegal", "Spain", "Norway","Peru","Peru"]
education=["Bach", "Bach", "Master", "PhD","Bach","Master"]

In [58]:
data={'names':names, 'woman':woman, 'ages': ages, 'country':country, 'education':education} 
data

{'names': ['Tom치s', 'Pauline', 'Pablo', 'Bjork', 'Alan', 'Juana'],
 'woman': [False, True, False, False, False, True],
 'ages': [32, 33, 28, 30, 32, 27],
 'country': ['Chile', 'Senegal', 'Spain', 'Norway', 'Peru', 'Peru'],
 'education': ['Bach', 'Bach', 'Master', 'PhD', 'Bach', 'Master']}

In [35]:
import pandas

In [59]:
students=pandas.DataFrame.from_dict(data)

In [60]:
from pandas import DataFrame as df

In [61]:
students=df.from_dict(data)
students

     names  woman  ages  country education
0    Tom치s  False    32    Chile      Bach
1  Pauline   True    33  Senegal      Bach
2    Pablo  False    28    Spain    Master
3    Bjork  False    30   Norway       PhD
4     Alan  False    32     Peru      Bach
5    Juana   True    27     Peru    Master

In [62]:
students[students.ages==min(students.ages)].country

5    Peru
Name: country, dtype: object

In [63]:
students[students.ages==max(students.ages)].names

1    Pauline
Name: names, dtype: object

In [66]:
len(students[students.ages==32])

2

In [65]:
students[students.education=="PhD"].names

3    Bjork
Name: names, dtype: object

In [67]:
students[students.ages==max(students.ages)].woman

1    True
Name: woman, dtype: bool

In [68]:
len(students[students.country!="Peru"])

4